<body>
  <div class="card-titulo">

  <h1 class="titulo">AGREGAR ARTICULO</h1>
  </div>
  <div class="fondo">

    <div class="form">
      <form (submit)="onSaveArticulo(articuloForm)" #articuloForm="ngForm">
        <div class="separador">
          <div class="textfield">


             <mat-form-field>
               <textarea matInput
               type="text"
               name="nombre"
               [ngModel] = "articulo?.nombre"
               placeholder="Ingresa el nombre del producto"
               required
               #nombre="ngModel"></textarea>

               <mat-error *ngIf="nombre.invalid">El campo es obligatorio</mat-error>
              </mat-form-field>

             <mat-form-field>
               <textarea matInput
               (keypress)="numberOnly($event)" type="text"
               name="precio"
               [ngModel] = "articulo?.precio"
               placeholder="Ingresa precio de venta:"
               required
               #precio="ngModel"></textarea>
               <mat-error *ngIf="">El campo es obligatorio</mat-error>
              </mat-form-field>


              <mat-form-field>
                <textarea matInput
                type="text"
                name="descripcion"
                [ngModel] = "articulo?.descripcion"
                placeholder="Ingresa descripción de producto"
                required
                #descripcion="ngModel"></textarea>
                <mat-error *ngIf="">El campo es obligatorio</mat-error>
               </mat-form-field>

               <mat-form-field>
                <textarea matInput
                (keypress)="numberOnly($event)" type="text"
                name="cantidad"
                [ngModel] = "articulo?.cantidad"
                placeholder="Ingresa cantidad de producto"
                required
                #cantidad="ngModel"></textarea>
                <mat-error *ngIf="">El campo es obligatorio</mat-error>
               </mat-form-field>

               <!--<mat-form-field>
                <textarea matInput
                type="text"
                name="categoria"
                ngModel
                placeholder="Ingresa categoria de producto"
                required
                #categoria="ngModel"></textarea>
                <mat-error *ngIf="">El campo es obligatorio</mat-error>
               </mat-form-field>-->




                  <mat-label>Seleccione la categoria</mat-label>
                  <select class='caja' [formControl]='selectControl' (change)='test()'>
                    <option value="Ropa">Ropa</option>
                    <option value="Calzado">Calzado</option>
                    <option value="Joyeria">Joyeria</option>
                    <option value="Deporte">Deporte</option>
                    </select>




            </div>

            <div class="dropzone">
              <input type="file" #fileDropRef id="fileDropRef" (onchange)="onFileSelected($event)">
              <img src="" alt="">
              <h3>Arrastra y suelta tu imagen aqui</h3>
              <h3>ó</h3>
              <label for="fileDropRef">Explorar archivos</label>
            </div>

        </div>
         <button
         mat-raised-button
         color="warn"
         type="submit">
          Guardar comentario
         </button>
    </form>

    </div>

  </div>

</body>
