<app-header></app-header>
<body>

  <div class="card-titulo">
  <h1 class="titulo">AGREGAR ARTICULO</h1>
  </div>


  <mat-progress-spinner mode="indeterminate" *ngIf="spinner == true">
  </mat-progress-spinner>


  <div class="fondo" *ngIf="spinner == false">

    <div class="form">
      <!--<form (submit)="onSaveArticulo(articuloForm)" #articuloForm="ngForm">-->
        <form [formGroup]="form"(submit)="onSaveArticulo()">
        <div class="separador">
          <div class="textfield">

              <mat-form-field>
                <textarea matInput rows="6" formControlName = 'nombre'
                placeholder="Ingresa el nombre del producto"> </textarea>
                <mat-error *ngIf=" form.get('nombre').invalid">por favor ingrese el nombre</mat-error>
              </mat-form-field>

              <mat-form-field>
                <textarea matInput rows="6" formControlName = 'precio'
                placeholder="Ingresa precio de venta"> </textarea>
                <mat-error *ngIf=" form.get('precio').invalid">por favor ingrese el precio</mat-error>
              </mat-form-field>

               <mat-form-field>
                <textarea matInput rows="6" formControlName = 'descripcion'
                placeholder="Ingresa descripción de producto"> </textarea>
                <mat-error *ngIf=" form.get('descripcion').invalid">por favor ingrese la descripcion</mat-error>
              </mat-form-field>


               <mat-form-field>
                <textarea matInput rows="6" formControlName = 'cantidad'
                placeholder="Ingresa cantidad de producto"> </textarea>
                <mat-error *ngIf=" form.get('cantidad').invalid">por favor ingrese la cantidad</mat-error>
              </mat-form-field>

               <mat-form-field>
                <textarea matInput rows="6" formControlName = 'categoria'
                placeholder="Ingresa categoria de producto"> </textarea>
                <mat-error *ngIf=" form.get('categoria').invalid">por favor ingrese la categoria</mat-error>
              </mat-form-field>


            </div>

            <div class="dropzone">

              <button mat-stroked-button type="button" (click)="filePicker.click()">Selecciona Imagen</button>
              <input type="file" #filePicker accept="image/*" (change)="onImagePicked($event)">

              <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"><!--solo aparezca cuando lo ocupemos-->
                <img [src]="imagePreview" height="300px">
              </div>

              <div *ngIf="imagePreview == ''">
                <h3>Arrastra y suelta tu imagen aqui</h3>
                <h3>ó</h3>
                <label for="fileDropRef">Explorar archivos</label>
              </div>

            </div>



        </div>
         <button
         mat-raised-button
         color="warn"
         type="submit">
          Guardar articulo
         </button>
    </form>

    </div>

  </div>

  <app-footer></app-footer>

</body>
