body{
  height: 125%;
  margin-bottom: 10%;
}

mat-progress-spinner{
  margin-top: 8%;
  margin-left: 45%;
}

.fondo{
  background-image: url("src\assets\images\blanco.jpg");
  height: 50%;
  width: 70%;
  margin-left: 5%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 20px;
  border-radius: 50px;
}


.form{
  height: 100%;
  width: 90%;
  border-radius: 16px;
  margin-left: 5%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.separador{
  display: flex;
  height: 90%;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textfield {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropzone {
  height: 40%;
  padding: 2rem;
  text-align: center;
  border: dashed 2px black;
  border-radius: 10px;
  position: relative;
  margin-left: 8%;
  margin-top: 8%;
}

input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

label{
  color: white;
  width: 183px;
  height: 44px;
  border-radius: 21.5px;
  background-color: #db202f;
  padding: 8px 16px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #3B424C
}

.card-titulo{
  height: 200px;
  width: 60%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}


.titulo{
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  transform: translateY(90px);
  color: black;
}

mat-form-field, textarea{
  width: 100%;
  height: 20px;
  margin-left: 5%;
  font-size: medium;
}

mat-label{
  margin-top: 30px;
  margin-left: 20px;
}

.caja {
  margin-left: 20px;
  border:1px solid #d9d9d9;
  height:30px;
  overflow: hidden;
  position:relative;
}




select:focus{ outline: none;}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;
	pointer-events: none;
}






