
<div class="header">
  <mat-toolbar class="example-spacer">

    <div [routerLink]="['/create']" class="seccion">
      <a>Agregar articulo</a>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>

     <div [routerLink]="['/carrito']" class="seccion">
       <a>Carrito</a>

       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon>shopping_cart</mat-icon>
       </button>
     </div>


     <div [routerLink]="['/']" class="seccion">
       <a>Home</a>

       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
      </button>
     </div>

  </mat-toolbar>
</div>


<body>

  <div class="contenedor">


    <div class="content">

      <div class="lista">
        <h1>CARRITO DE COMPRAS</h1>
      </div>

      <div class="datos">

      </div>
    </div>
  </div>





</body>

<footer>

</footer>
