
<div class="header">
  <mat-toolbar class="example-spacer">

    <div [routerLink]="['/create']" class="seccion">
      <a>Agregar articulo</a>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>

     <div [routerLink]="['/carrito']" class="seccion">
       <a>Carrito</a>

       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon>shopping_cart</mat-icon>
       </button>
     </div>


     <div [routerLink]="['/']" class="seccion">
       <a>Home</a>

       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
      </button>
     </div>

  </mat-toolbar>
</div>


<body>

  <div class="contenedor">


    <div class="content">

      <div class="lista">

        <div class="sublista">
          <h1>CARRITO DE COMPRAS</h1>
          <h1>3 Items</h1>
        </div>
        <HR SIZE=1 WIDTH="95%" COLOR="black" ALIGN = CENTER>

        <div class="columnas">
          <h2 class="Producto">Producto</h2>
          <h2 class="Cantidad">Cantidad</h2>
          <h2 class="Precio">Precio</h2>
          <h2 class="Total">Total</h2>
        </div>

        <div class="producto-item">
          <div class="imagen">
          </div>
          <div class="descripcion">
            <h4 class="nombre-producto">Nombre del producto</h4>
            <h4 class="categoria-producto">Categoria</h4>
          </div>
          <div class="cantidad-producto">
            <p>1</p>
          </div>
          <div class="precio-producto">
            <p>1</p>
          </div>
          <div class="total-producto">
            <p>1</p>
          </div>
        </div>

        <div class="producto-item">
          <div class="imagen">
          </div>
          <div class="descripcion">
            <h4 class="nombre-producto">Nombre del producto</h4>
            <h4 class="categoria-producto">Categoria</h4>
          </div>
          <div class="cantidad-producto">
            <p>1</p>
          </div>
          <div class="precio-producto">
            <p>1</p>
          </div>
          <div class="total-producto">
            <p>1</p>
          </div>
        </div>

        <div class="producto-item">
          <div class="imagen">
          </div>
          <div class="descripcion">
            <h4 class="nombre-producto">Nombre del producto</h4>
            <h4 class="categoria-producto">Categoria</h4>
          </div>
          <div class="cantidad-producto">
            <p>1</p>
          </div>
          <div class="precio-producto">
            <p>1</p>
          </div>
          <div class="total-producto">
            <p>1</p>
          </div>
        </div>





      </div>

      <div class="datos">

        <h1 class="resumen">Resumen de compra</h1>

        <div class="total">
          <h2>
            Items 3
          </h2>

          <h2 class="total-precio">
            $300
          </h2>
        </div>

        <div class="cupon">
          <h2 class="total">
            Cupon de descuento
          </h2>
          <mat-form-field>
            <textarea matInput rows="2"
            placeholder="Ingresa el cupon"> </textarea>
          </mat-form-field>

          <button mat-raised-button class="aplicar">
            Aplicar
          </button>



        </div>

          <div class="regresar">
            <a class="return" href="">
               Seguir comprando
            </a>
          </div>



          <button mat-raised-button class="pagar">
            Pagar
          </button>


      </div>
    </div>
  </div>






</body>

<footer>

</footer>
