
<div class="header">
  <mat-toolbar class="example-spacer">

    <div [routerLink]="['/create']" class="seccion">
      <a>Agregar articulo</a>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>

     <div [routerLink]="['/carrito']" class="seccion">
       <a>Carrito</a>

       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon>shopping_cart</mat-icon>
       </button>
     </div>


     <div [routerLink]="['/']" class="seccion">
       <a>Home</a>

       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
      </button>
     </div>

  </mat-toolbar>
</div>


<body>

  <div class="contenedor">


    <div class="content">

      <div class="lista">

        <div class="sublista">
          <h1>CARRITO DE COMPRAS</h1>
          <h1>{{articulos.length}} Items</h1>
        </div>
        <HR SIZE=1 WIDTH="95%" COLOR="black" ALIGN = CENTER>

        <div class="columnas">
          <h2 class="Producto">Producto</h2>
          <h2 class="Cantidad">Cantidad</h2>
          <h2 class="Precio">Precio</h2>
          <h2 class="Total">Total</h2>
        </div>

        <div class="iteracion" *ngFor="let articulo of articulos">

          <div class="producto-item">
            <div class="imagen">
              <img mat-card-image [src]="articulo.imagePath" [alt]="articulo.nombre" height="90px" width="90px">
            </div>
            <div class="descripcion">
              <h4 class="nombre-producto">{{articulo.nombre}}</h4>
              <h4 class="categoria-producto">{{articulo.categoria}}</h4>
              <button class="quitar" (click)="onSaveCarrito(articulo.id, articulo.nombre, articulo.precio, articulo.descripcion, articulo.cantidad, articulo.categoria, false, articulo.imagePath)">
                Quitar de la lista
              </button>
            </div>
            <div class="cantidad-producto">
              <p>1</p>
            </div>
            <div class="precio-producto">
              <p>{{articulo.precio}}</p>
            </div>
            <div class="total-producto">
              <p>{{articulo.precio}}</p>
            </div>
          </div>

        </div>

      </div>

      <div class="datos">

        <h1 class="resumen">Resumen de compra</h1>

        <div class="total">
          <h2>
            Items {{articulos.length}}
          </h2>

          <h2 class="total-precio">
            $ {{sumatoria}}
          </h2>
        </div>

        <div class="cupon">
          <h2 class="total">
            Cupon de descuento
          </h2>
          <mat-form-field>
            <textarea matInput rows="2"
            placeholder="Ingresa el cupon"> </textarea>
          </mat-form-field>

          <button mat-raised-button class="aplicar">
            Aplicar
          </button>



        </div>

          <div class="regresar">
            <a class="return" href="">
               Seguir comprando
            </a>
          </div>


          <button mat-raised-button *ngIf="!showPaypalButtons" (click)="pay()" class="paypal">Pagar con paypal</button>
          <ngx-paypal *ngIf="showPaypalButtons" [config]="payPalConfig">
          </ngx-paypal>
          <button mat-raised-button *ngIf="showPaypalButtons" (click)="back()">Volver atras</button>

      </div>
    </div>
  </div>






</body>

<footer>

</footer>
