<div class="header">
  <mat-toolbar class="example-spacer">

    <div [routerLink]="['/create']" class="seccion">
      <a>Agregar articulo</a>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>

     <div [routerLink]="['/carrito']" class="seccion">
       <a>Carrito</a>

       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon>shopping_cart</mat-icon>
       </button>
     </div>


     <div [routerLink]="['/']" class="seccion">
       <a>Home</a>

       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
      </button>
     </div>

  </mat-toolbar>
</div>


<p class="subtitulo">
  MEJORES PRECIOS
  </p>

<div class="carrusel" *ngFor="let articulo of articulos">
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{articulo.nombre}}</mat-card-title>
        <mat-card-subtitle>$ {{articulo.precio}}</mat-card-subtitle>
      </mat-card-header>
      <div class="imagen">
        <img mat-card-image [src]="articulo.imagePath" height="300px">
      </div>


      <!--
      <div class="articulo-image">
      <img [src]="articulo.imagePath" [alt]="articulo.nombre">
      </div>
      -->

      <mat-card-content>
        <p>
          {{articulo.descripcion}}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p> {{articulo.categoria}} </p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-fab class="edit"
          [routerLink]="['/edit', articulo.id]" aria-label="Example icon button with a bookmark icon">
            <mat-icon>edit</mat-icon>
          </button>

          <button (click)="onDelete(articulo.id)"
          mat-fab class="delete" aria-label="Example icon button with a bookmark icon">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-fab class="shoping" (click)="onSaveCarrito(articulo.id, articulo.nombre, articulo.precio, articulo.descripcion, articulo.cantidad, articulo.categoria, true, articulo.imagePath)" aria-label="Example icon button with a bookmark icon">
            <mat-icon>shopping_cart</mat-icon>
          </button>


      </mat-card-actions>
    </mat-card>
  </div>
</div>


<p class= "info-text mat-body-1 " *ngIf="articulos.length <= 0">No hay articulos agregados</p>
