<mat-card>

  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

      <mat-form-field>
       <input matInput
       type="text"
       name="title"
       ngModel
       placeholder="Ingresa tu nombre"
       required
       #title="ngModel">
       <mat-error *ngIf="title.invalid">El campo es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text"
        name="content"
        ngModel
        placeholder="Ingresa el comentario que desee"
        required
        #content="ngModel">
        <mat-error *ngIf="content.invalid">El campo es obligatorio</mat-error>
       </mat-form-field>

       <button
       mat-raised-button
       color="warn"
       type="submit">
        Guardar comentario
       </button>
  </form>

</mat-card>
