<mat-toolbar  class="example-spacer">
 <!--
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
 -->
  <div class="seccion">
    <span>Inicio</span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>

  <div class="seccion">
    <span>Inicio</span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>


  <div class="seccion">
    <span>Inicio</span>

    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

  </div>


</mat-toolbar>
