<div class="carrusel" *ngFor="let articulo of articulos">
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{articulo.nombre}}</mat-card-title>
        <mat-card-subtitle>$ {{articulo.precio}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://i.pinimg.com/564x/22/23/ef/2223ef571eded8888744cfd3b59b8318.jpg" height="300px" width="200px" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{articulo.descripcion}}
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-fab class="edit"
          [routerLink]="['/edit', articulo.id]" aria-label="Example icon button with a bookmark icon">
            <mat-icon>edit</mat-icon>
          </button>

          <button (click)="onDelete(articulo.id)"
          mat-fab class="delete" aria-label="Example icon button with a bookmark icon">
            <mat-icon>delete</mat-icon>
          </button>



      </mat-card-actions>
    </mat-card>
  </div>
</div>


<p class= "info-text mat-body-1 " *ngIf="articulos.length <= 0">No hay articulos agregados</p>
