<footer>
  <div class="container">
    <div class="content">
      <div class="col">
        <p>Contactanos</p>
        <p>
          Hola, estamos en constante crecimiento <br>y nos encantaria que formes parte del equipo:
        </p>
        <div class="flex">
          <div class="col-info">
            <p>
              NUMERO TELEFONICO <br />
              <span>+52 (476) 107-39-29</span>
            </p>
            <p>
              UBICACIÓN <br />
              <span>Morelos #117, Purisima del Rincón<br />
                Guanajuato</span>
            </p>
          </div>
          <div class="col-info">
            <p>
              EMAIL's <br />
              <span>lrs19110250@purisima.tecnm.mx</span>
            </p>

            <p>
              HORARIO LABORAL <br />
              <span>Lun-vie 8:00am - 5:00pm</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <p>Nuestras redes sociales:</p>
        <div class="social">
          <img src="https://i.postimg.cc/44pPB9wk/facebook.png" alt="" />
          <img src="https://i.postimg.cc/L8Q3nB4f/twitter.png" alt="" />
          <img src="https://i.postimg.cc/TYG9S3Hy/instagram.png" alt="" />
          <img src="https://i.postimg.cc/kGCxkTwr/youtube.png" alt="" />
          <img src="https://i.postimg.cc/CKZHDBd2/telegram.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="content-foot">
    <div class="container">
      <div class="foot-text">
        <p><span></span><span></span></p>
        <div class="pay">
          <img src="https://i.postimg.cc/PrtWyFPY/visa-logo-png-2013.png" alt="" />
          <img src="https://i.postimg.cc/R0j1TSHZ/mastercard-PNG23.png" alt="" />
          <img src="https://i.postimg.cc/sggJj0zs/paypal-logo-png-2119.png" alt="" />
          <img src="https://i.postimg.cc/hjdsFzBm/American-Express-logo-PNG14.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>

